<div>
    <h1>Bienvenidos al chat</h1>
    <div>
        <input type="text" name="chatbox" id="chatbox">
    </div>
    <div>
        <ul id="messageLog">

        </ul>
    </div>
</div>

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/chat.js" type="text/javascript"></script>