<main class="container">
    <h1>Register</h1>
    <form action="/api/sessions/register" method="post" class="form-group w-50">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" class="form-control">
        <label for="Apellido">Apellido</label>
        <input type="text" name="Apellido" class="form-control">
        <button class="btn btn-outline-dark w-100">Register</button>
    </form>
</main>